* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Be Vietnam Pro", sans-serif;
}

/* DECLARACION VARIABLES DE COLORES */
:root {
  --primary-purple: #8b48bf;
  --primary-sky-blue: #3cddf3;
  --primary-white: #ffffff;
  --primary-black: #000;
  --neutro-grayish-blue: #1e1e26;
  --neutro-dark-blue: #232851;
  --neutro-grey: #f9f9f9;
  --background-grey : #b3b2b7;
  --background-purple : rgba(139, 72, 191, 0.3);

}

/* DECLARACION DE FONT SIZE PARA MEDIDAS REM */
html {
  font-size: 62.5%;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* SE OCULTA MENU HAMBURGESA EN VISTA DE ESCRITORIO */
.hamburger-menu {
  display: none;
}

/* ESTILOS DEL HEADER */
header {
  padding: 25px 0;
  background-color: var(--neutro-grey);
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header a {
  text-decoration: none;
  color: var(--primary-black);
}
/* ELIMINACION DE BORDE EN BOTONES */
button {
  border: none;
}

/* SE APLICA OPACIDAD BAJA AL PASAR CON EL CURSOR */
button:hover{
  cursor: pointer;
  opacity: 0.5;
}

li:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* ESTILOS LISTAS DE MENU NAVEGACIONES */
.menu-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
  color: var(--primary-black);
}

/* ESTILOS DE BOTON VIOLETA */
.purple-button {
  width: 134px;
  height: 44px;
  background-color: var(--primary-purple);
  border-radius: 50px;
  color: var(--primary-white);
}

/* ESTILOS DE SECCION PRINCIPAL */
.cover-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-bottom: 5rem;
}

/* ESTILOS INFORMACION DEL TORNEO */
.tournament-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45rem;
  gap: 2rem;
}

.tournament-container h2 {
  text-align: right;
  font-weight: 700;
  font-size: 5rem;
  color: var(--neutro-dark-blue);
}

.tournament-container p {
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  color: var(--primary-black);
}

/* ESTILOS DE INTRODUCCION A VENTAJAS */
.container-advantages-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0rem;
  background-color: var(--primary-purple);
}

.container-advantages-info h3 {
  width: 48rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--primary-white);
}
.container-advantages-info p {
  width: 48rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-white);
}

/* ESTILOS DE CONTENEDOR DE VENTAJAS ENUMERADAS */
.advantages-features-container {
  counter-reset: numero 0;
  padding: 5rem 0rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.advantages-features-container h4 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--neutro-dark-blue);
  padding-bottom: 25px;
}
.advantages-features-container p {
  padding-left: 8.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--background-grey);
}

/* ESTILOS VENTAJAS */
.feature {
  margin-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}

/* ENUMERACION DE VENTAJAS  */
.feature h4::before {
  counter-increment: numero;
  margin-right: 2.5rem;
  content: counter(numero, decimal-leading-zero);;
  background-color: var(--primary-purple);
  border-radius: 30px;
  padding: 1rem 2.5rem;
  width: 7rem;
  height: 4.3rem;
  color: var(--primary-white);
}

/* ESTILOS DE SECCION DE JUGADORES */
.players-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0rem 10rem;
}
.players-section h3 {
  width: 100%;
  margin-bottom: 9rem;
  font-size: 3.9rem;
  font-weight: 700;
  color: var(--neutro-dark-blue);
  text-align: center;
}
.players-section button {
  margin-bottom: 3rem;
}
/* ESTILOS JUGADORES */
.players {
  padding: 0rem 0.5rem 1rem 0.5rem;
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
  gap: 20px;
}
.players img {
  display: block;
  margin-top: -3.75rem;
  width: 7.5rem;
  height: 7.5rem;
}
.players h5 {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--neutro-dark-blue);
}
.players p {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--background-grey);
}

/* ESTILOS SECCION DE SUBSCRIPCION */
.subscription-section {
  margin-top: 5rem;
  width: 100%;
  height: 70%;
}

/* ESTILOS  MEJORES EQUIPOS DEL AÑO */
.subscription-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0rem;
  background-color: var(--primary-purple);
}
.subscription-container h3 {
  width: 480px;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  color: var(--primary-white);
}
.subscription-container button {
  color: var(--primary-purple);
  text-align: center;
  width: 13rem;
  height: 4rem;
  border-radius: 50px;
  background-color: var(--primary-white);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 5rem 17rem;
  background-color: var(--primary-black);
  color: var(--primary-white);
}

/* ESTILOS CONTENEDOR GENERAL DEL FOOTER */
.footer-content-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ESTILOS DE REDES SOCIALES  */
.logo-social-media-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 13rem;
  justify-content: space-between;
}
.logo-social-media-container a {
  font-size: 2rem;
  color: var(--primary-white);
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* ESTILOS DE MENU DE NAVEGACION DEL FOOTER */
.links-footer {
  width: 45rem;
  height: 13rem;
  display: flex;
  flex-wrap: wrap;
  line-height: 23px;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--neutro-grey);
}
.links-footer li{
  margin-bottom: 1rem;
  padding-left: 5rem;
  width: 50%;
}

/* ESTILOS DEL FORMULARIO */
.form-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.form-container input {
  padding: 1rem;
  height: 4.5rem;
  background-color: var(--primary-white);
  border-radius: 50px;
}
footer p {
  width: 100%;
  text-align: right;
}
.purple-button-footer {
  width: 63px;
  height: 42px;
  background-color: var(--primary-purple);
  color: var(--primary-white);
  border-radius: 50px;
}

/* DISEÑO ADAPTATIVO PARA MOBILE */

@media (max-width: 480px) {
  /* ESTILOS HEADER */
  .hamburger-menu {
    display: flex;
    align-items: center;
  }
  header button , .menu-container {
    display: none;
  }

  /* SECCION PORTADA */
  .cover-section {
    flex-direction: column;
  }
  .cover-section img {
    width: 40rem;
    height: 34rem;
  }
  .tournament-container{
    padding-right: 3rem;
  }

  /* ESTILOS INTRODUCCION A VENTAJAS */
  .container-advantages-info{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-sky-blue);
  }   
  .container-advantages-info h3,p{
    padding-left: 2rem;
    margin-bottom: 25px;
  }

  /* ESTILOS DE VENTAJAS ENUMERADAS */
  .advantages-features-container {
    display: flex;
    flex-direction: column;
  }
  .feature{
    width: 100%;
  }
  .feature h4{
      width: 100%;
      background-color: var(--background-purple);
  }
  /* SECCION DE JUGADORES*/
  .players-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0.5rem;
  }
  .players{
    width: 100%;
    padding: 0rem;
  }

  /* SE OCULTAN DOS JUGADORES */
  .players-section article:nth-child(2),
  .players-section article:nth-child(3) {
    display: none;
  }

  /* SECCION DE SUBSCRIPCION */
  .subscription-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-sky-blue);
  }
  .subscription-container h3{
    padding-bottom: 2rem;
    text-align: center;
    width: 70%;
  }
  .subscription-container button{
    width: 13rem;
    height: 4rem;
    background-color: var(--neutro-dark-blue);
    color: var(--primary-white);
  }
  /* ESTILOS DEL FOOTER */
  footer{
    padding: 5rem 0;
  }
  footer p{
    text-align: center;
  }

  /* CONTENEDOR GENERAL DEL FOOTER */
  .footer-content-container{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
  }

  /* ESTILOS REDES SOCIALES Y LOGO */
  .logo-social-media-container{
    flex-direction: column-reverse;
  }
  .social-media{
    gap: 50px;
  }

  /* ESTILOS MENU DE NAVEGACION */
  .links-footer{
    margin: 0 auto 5rem auto;

  }
  /* ESTILOS FORMULARIO */
  .form-container{
    margin-bottom: 3rem;
    padding: 0 5rem;
  }
  .form-container input{
    width: 30rem;
    height: 4.5rem;
  }
  .form-container button{
    width: 6.3rem;
    height: 4.5rem;
  }
}
